.card {
  width: 210px;
  background-color: #dad8d8f6;
  padding: 20px;
  align-items: center;
  border: solid;
  margin: 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.card-text {
  width: 200px;
}
.card-img {
  height: 200px;
}
.card:hover {
  transform: scale(1.1);
  border: rgb(9, 224, 9) solid 3px;
}
