.App {
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
}


.main {
  background-color: #ffdc03;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d62c68;
  padding-top: 280px;
}

.title-img {
  position: absolute;
  top: 50px;
  height: 200px;
}
@media screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .title-img {
      margin-top: 35px;
      height: 170px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {.title-img {
    margin: 26px 0px;
    height: 130px;
  }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
main{
  width: 100vw;
}
}